<a href="https://colab.research.google.com/github/lakshmikanthgr/IITJ-Python-Practice./blob/main/python_revisit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Converting an integer to decimal

In [ ]:
import decimal
integer_value = 10
# dir(decimal)
# help(decimal.Decimal)
decimal_value = decimal.Decimal(integer_value)
print(f"The dcimal value for {integer_value} is {decimal_value} \n"
"and its type is {type(decimal_value)}")

The dcimal value for 10 is 10
and its type is {type(decimal_value)}

# Converting a string of integers to decimals

In [ ]:
import decimal
string_int_value = "1234"
# help(decimal.Decimal)
decimal_value = decimal.Decimal(string_int_value)
print(f"The decimal value of {string_int_value} is {decimal_value} \n"
       "and the type is {type(decimal_value)}")

The decimal value of 1234 is 1234
and the type is {type(decimal_value)}

# Reversing a string using extended slicing technique

In [ ]:
str_value="Hello Laks!"
#revers_str_value = str_value.

print(f"str_value first letter {str_value[0]} and \n "
"all the string is {str_value[:]} and its reverse order is {str_value[::-1]}")

str_value first letter H and all the string is Hello Laks! and its reverse order is !skaL olleH

# Counting vowels in given string

In [ ]:
vowels="aeiou"
vowels_list = list(vowels)
given_string = "Hello Laks!"
count = 0
for charecter in given_string:
  if charecter in vowels:
   count = count + 1
print(f"for the given string {given_string} vowels count is  {count}")

for the given string Hello Laks! vowels count is  3

# Counting CONSONANTS in a given word

In [ ]:
vowels="aeiou"
vowels_list = list(vowels)
given_string = "abcdefghijkl mnopqrs tuvxyz"
count = 0
for char in given_string:
  if not char in vowels and char!="":
    count = count +1
print(f"For the given string {given_string} consonants is {count}")

For the given string abcdefghijkl mnopqrs tuvxyz consonants is 22

# Counting number of occurence of a charecter in a given string

In [ ]:
given_string = "aajjkdd fdfadfcdde fds"
char_pattern = "f"
count = 0
for char in given_string:
  if char == char_pattern:
    count = count+1
print(f"For a given string {given_string} the counts is {count}")

For a given string aajjkdd fdfadfcdde fds the counts is 4

# Counting an charecter if it exceeds more than once and returns them with their counts.

In [ ]:
given_string="aajjkdd fadfadfcdde fds"
repeated_dict = {}
for i in range(len(given_string)):
  count = 0
  for char in given_string:
    if char == given_string[i]:
      count = count +1
    repeated_dict[given_string[i]] = count
for key,value in repeated_dict.items():
  print(f"Repeated charecter {key} and its value is {value}")

Repeated charecter a and its value is 4
Repeated charecter j and its value is 2
Repeated charecter k and its value is 1
Repeated charecter d and its value is 7
Repeated charecter   and its value is 2
Repeated charecter f and its value is 4
Repeated charecter c and its value is 1
Repeated charecter e and its value is 1
Repeated charecter s and its value is 1

For above problem perplexity has provided much more refined solution as given below

In [ ]:
given_string="aajjkdd fadfadfcdde fds"
repeated_dict = {}
for char in given_string:
  if char in repeated_dict:
    repeated_dict[char] +=1
  else:
    repeated_dict[char] = 1
for key, value in repeated_dict.items():
  if value>1:
    print(f"Repeated char is {key} and its value is {value}")

Repeated char is a and its value is 4
Repeated char is j and its value is 2
Repeated char is d and its value is 7
Repeated char is   and its value is 2
Repeated char is f and its value is 4

# Writing a FIBONACCI Series

In [ ]:
def fibonnaci(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return fibonnaci(n-1)+fibonnaci(n-2)
given_number = 11
for i in range(given_number):
  print(fibonnaci(i))

0
1
1
2
3
5
8
13
21
34
55

# Find the maximum number in given list

In [ ]:
import random
#random.seed(2)
list_a = []
for i in range(10):
  list_a.append(random.randint(1,100))

print(f"The random integer list is :{list_a}")
for i in range(len(list_a)):
  #print(f"The i value is {i} and list len is {len(list_a)}")
  temp = list_a[i]
  for j in range(len(list_a)-i):
    j = j+i
    if temp<=list_a[j]:
      continue
    else:
      list_a[i]=list_a[j]
      list_a[j] = temp
      temp = list_a[i]
print(f"Hope it is sorted now {list_a}")
print(f"The smallest number is {list_a[0]} and  the biggest nuber is {list_a[-1]}")

The random integer list is :[8, 3, 8, 3]
Hope it is sorted now [3, 3, 8, 8]
The smallest number is 3 and  the biggest nuber is 8

# Convert an list to string

In [ ]:

vowels = "aeiou"
vowels_list = list(vowels)
vowels_string = "".join(vowels_list)
print(f"Here is the vowels {vowels} that are converted to list {vowels_list} \n"
      f"and again back to string {vowels_string}")

Here is the vowels aeiou that are converted to list ['a', 'e', 'i', 'o', 'u']
and again back to string aeiou

# Comparing two strings for ANAGRAMS

In [ ]:
s1 = "tens"
s2 = "net"
s1 = s1.upper()
s2 = s2.upper()
if sorted(s1)==sorted(s2):
  print("Given strings are ANARAMS")
else:
  print("Given strings are not ANAGRAMS")

Given strings are not ANAGRAMS

# Comparing two string for ANAGRAMS without using any library

In [ ]:
s1 = "ten"
s2 = "net"
if s1.len() == s2.len():
  print("Given string is not ANAGRAMS")
for c in s1:
  if c

#Check given string is PALINDROME using extended slicing technique

In [ ]:
given_string = "AKAS"
if given_string == given_string[::-1]:
  print("Given string is Palindrome")
else:
  print("Given sttring is not Palindrome")

Given sttring is not Palindrome

# Counting white spaces in a string

In [ ]:
given_string = "abcdefghijkl mnopqrs  tuvxyz"
print(given_string.count("abcdefghijkl"))
help(str.count)

1
Help on method_descriptor:

count(...)
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

# Exploring regex patterns.

In [ ]:
import re


def check_sp_char(string):
    reg = r'[^a-zA-Z0-9\s]'
    special_car = re.findall(reg,string)
    print(f"Special charecter in given string is  {special_car}")
    return len(special_car)

given_string = "Hello! How are you doing .. 4^&*W^Q^*&Q)*_)_*_*_ 8 "
print(f"The count of the sp charecter {check_sp_char(given_string)}")

Special charecter in given string is  ['!', '.', '.', '^', '&', '*', '^', '^', '*', '&', ')', '*', '_', ')', '_', '*', '_', '*', '_']
The count of the sp charecter 19

# Counting digits, spaces and Letters in a String

In [ ]:
import re
def check_str(string,reg):
  matched_patterns = re.findall(reg,string)
  print(f"Matche content is {matched_patterns} for the given string {string}")
  return len(matched_patterns)

given_string = "Hello! How are you doing .. 4^&*W^Q^*&Q)*_)_*_*_ 8 "
digit_rig = r"[0-9]"
print(f"Count of digits in given string is {check_str(given_string,digit_rig)}")
digit_rig = r"[a-zA-Z]"
print(f"Count of char in given string is {check_str(given_string,digit_rig)}")
digit_rig = r"[\s]"
print(f"Count of space in given string is {check_str(given_string,digit_rig)}")

Matche content is ['4', '8'] for the given string Hello! How are you doing .. 4^&*W^Q^*&Q)*_)_*_*_ 8
Count of digits in given string is 2
Matche content is ['H', 'e', 'l', 'l', 'o', 'H', 'o', 'w', 'a', 'r', 'e', 'y', 'o', 'u', 'd', 'o', 'i', 'n', 'g', 'W', 'Q', 'Q'] for the given string Hello! How are you doing .. 4^&*W^Q^*&Q)*_)_*_*_ 8
Count of char in given string is 22
Matche content is [' ', ' ', ' ', ' ', ' ', ' ', ' ', ' '] for the given string Hello! How are you doing .. 4^&*W^Q^*&Q)*_)_*_*_ 8
Count of space in given string is 8

# Removing white spaces in given string

In [ ]:
s1 = "Hi I am Lakshmikanth!"

#First method
print(f"The string value is {s1.replace(' ','')}")

#Second method
s2 = "".join([s for s in s1 if s!=" "])
print(f"The string value is {s2}")

#Third method
import re
pattern = r"\s"
result = re.sub(pattern,"",s1)
print(f"The string value is {result}")

The string value is HiIamLakshmikanth!
The string value is HiIamLakshmikanth!
The string value is HiIamLakshmikanth!

# Radomizing the list items

In [ ]:
import random
dir(random)
help(random.shuffle)
list_a=["Hi", "This","is", "Laks", "!"]
random.shuffle(list_a)
print(f"Shufled list is {list_a}")

Help on method shuffle in module random:

shuffle(x, random=None) method of random.Random instance
    Shuffle list x in place, and return None.

    Optional argument random is a 0-argument function returning a
    random float in [0.0, 1.0); if it is the default None, the
    standard random.random will be used.

Shufled list is ['is', 'Hi', 'Laks', 'This', '!']

# Print first n prime number

In [ ]:
given_input = 1000

def get_prime_numbers(n):
  prime_numbers = []
  if n<2:
   return prime_numbers
  for i in range(2,n):
    is_prime = True
    #i can be square root of i. As if it has square root then it is not prime
    for j in range(2,i):
      if(i%j==0):
        is_prime = False
        break
    if is_prime:
      prime_numbers.append(i)
  return prime_numbers
print(f"The prime number list is {get_prime_numbers(given_input)} and its count is {len(get_prime_numbers(given_input))}")

The prime number list is [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997] and its count is 168

# Now try with some other way that you just learn from the book. Using yield.

In [ ]:
given_integer = 77

def is_prime(n):
  for i in range(2,n):
    if n%i==0:
      return False
  return  True
if is_prime(given_integer):
  print(f"The given number is prime")
else:
  print(f"Given number is not prime")

def prime_generator(number):
  n = 2
  while(number):
    #print(f"Give number and the counters are {number} and {n}")
    if(is_prime(number)):
      yield number

    number-=1
  n+=1
count = 0
for i in prime_generator(1000):
  count = count+1
  print(i,end=" ")
print(f"count is {count}")

Given number is not prime
997 991 983 977 971 967 953 947 941 937 929 919 911 907 887 883 881 877 863 859 857 853 839 829 827 823 821 811 809 797 787 773 769 761 757 751 743 739 733 727 719 709 701 691 683 677 673 661 659 653 647 643 641 631 619 617 613 607 601 599 593 587 577 571 569 563 557 547 541 523 521 509 503 499 491 487 479 467 463 461 457 449 443 439 433 431 421 419 409 401 397 389 383 379 373 367 359 353 349 347 337 331 317 313 311 307 293 283 281 277 271 269 263 257 251 241 239 233 229 227 223 211 199 197 193 191 181 179 173 167 163 157 151 149 139 137 131 127 113 109 107 103 101 97 89 83 79 73 71 67 61 59 53 47 43 41 37 31 29 23 19 17 13 11 7 5 3 2 1 count is 169

#Giving variable lenghth of arguments.

In [ ]:
def average(*kargs):
  sum = 0
  count = 0
  for arg in kargs:
    sum+=int(arg)
    count+=1
  return sum/count


average(1,2,3,12131,13131,13131)

6399.833333333333

# Giving variable lenghth of dictionary values as input. You need to use **

In [ ]:
def print_info(**info):
  for name,age in info.items():
    print(f"Person name is {name} and his age is {age}")
print_info(laks=34,Moni=30)

Person name is laks and his age is 34
Person name is Moni and his age is 30

# Creating instances member variables in python

__init__ method initiaize an instance variable with 10 to self.a

__function_a__ method initialize an instance variable self.b with 12

Two instances of class test has been created.

Dynamically added another instance variable to the class instance.

In [ ]:
class test:
    def __init__(self):
        # First instance variable
        self.a = 10

    def function_a(self):
        # Second instance variable
        self.b = 12

t1 = test()  # Create an instance of the class test
t2 = test()  # Create another instance of the class test
t1.c = 13    # Dynamically add a new instance variable 'c' to t1

print(f"printing the objects")
print(f"t1 object :{t1.function_a()}")  # Call function_a, which sets 'b' for t1
print(f"t1 object :{t1.a} {t1.b} and {t1.c}")  # Print values of a, b, and c for t1
print(f"And something which need to explore {t1.__dict__}, {t2.__dict__}")  # Print __dict__ for both instances

printing the objects
t1 object :None
t1 object :10 12 and 13
And something which need to explore {'a': 10, 'c': 13, 'b': 12}, {'a': 10}

# Using lambda

In [ ]:
x = lambda x : x*x
x(5)

25

# Creating addition function using lambda

In [ ]:
add_func = lambda a,b: a+b
add_func(19231,1231)

20462

# Finding factorial using lambda function

In [ ]:
fact = lambda n:1 if n==0 else n*fact(n-1)
fact(5)

120

# List compression. Creating a list in a single line

In [ ]:
a = [x for x in range(1,10)]
print(a)
b = [x*x for x in range(2,5)]
print(b)
c = sum([s for s in range(1,11)])
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 9, 16]
55

# Just an example how the split, join would work for str

In [ ]:
given_str = "I am laks, Learning Datascince"
print(f"Given string is {given_str}")
# Convert it to a list
given_str_list = given_str.split(" ")
print(f"Given string converted as list {given_str_list}")
#Reverse the list
revers_str = given_str_list[::-1]
print(f"Revers string is {revers_str}")

Given string is I am laks, Learning Datascince
Given string converted as list ['I', 'am', 'laks,', 'Learning', 'Datascince']
Revers string is ['Datascince', 'Learning', 'laks,', 'am', 'I']

# Global variable and local variable

In [ ]:
x = 10
def func_a():
  global x
  x=22
  y = 99
  print(f"local x and yis {x,y}")

func_a()
print(f"Outside of the function x is {x}")

local x and yis (22, 99)
Outside of the function x is 22

# Decorator:
1. Decorator in python essentially a function that takes another function as an
argument. Inside this function there will be another function that calls the passed arrgument. You can added whatever code here.
2. It basically modify or extend the functionality of a function.

In [ ]:
#This is the decorator function that takes the argument func_a
def my_decorator(func_a):
  # There will be wrapper wraps your extra code(extra/modified functionality)
  def wraper():
    print("This is an decoration for hello function TOP")
    func_a()
    print("This is an decoration for hello function BOTTOM")
  return wraper
#say this function need some extra decoration. But you dont wanted to change
#the code of actual functon func_a
#Now use decoratore which we defined
@my_decorator
def func_a():
  print("Hello with decoratorr")

func_a()

This is an decoration for hello function TOP
Hello with decoratorr
This is an decoration for hello function BOTTOM

# Decorator with arguments

In [ ]:
# Decorator with arguments
def repeat(num_time):
  def my_decorator(func):
    def func_wrapper(*args, **kwargs):
      for _ in range(num_time):
        func(*args,**kwargs)
    return func_wrapper
  return my_decorator
@repeat(10)
def func_b():
  print("Testing ")

func_b()

@repeat(10)
def func_c(a,b):
  print(f"sum is {a+b} ")

func_c(4,9)

Testing
Testing
Testing
Testing
Testing
Testing
Testing
Testing
Testing
Testing
sum is 13
sum is 13
sum is 13
sum is 13
sum is 13
sum is 13
sum is 13
sum is 13
sum is 13
sum is 13

# Class decorator

Here i am going to have a function that add two number. However i wanted to extend this functionality to find square of that function.

In [ ]:
import math
class square:
  def __init__(self,func):
    self.func = func

  def __call__(self, *args, **kwds):
    result = self.func(*args, **kwds)**2
    return result



# Extending this functionality by adding square
@square
# Add two numbers
def add(a,b):
  return (a+b)

add(30,50)

6400

# About iterator

Iterator will be having two object. Iter() and Next(). Iterator is applicable forr all collections(dictionaries, set) and for sequences like list, tuple and string.

In [ ]:
import random
random.seed(2)

list_a = []
for i in range(10):
  list_a.append(random.randint(1,100))

print(f"Generated random int is {list_a}")

#help(iter)

iter2 = iter(list_a)
if iter2!=0:
  print(f"Printing the iter values {iter} ")
  next(iter2)

Generated random int is [8, 12, 11, 47, 22, 95, 86, 40, 33, 78]

TypeError: 'list_iterator' object is not callable

# Generator:
1. First learn about generators. Its basically preserve the state and return the values then and there instead of storing all the values in memory.

It is very usual while dealing with large data set. And the cases where you are not depending on the entire set instead a single value at the moment.

And Use genetor while dealing with large dataset. If you are worried about just few number of data set then Genetators are not worth.

Since Genetor use context switching and state preservence it would be bit overhead to the processor.

In [5]:
def my_generator(n):
  i = 0
  while(i<n):
    yield i
    i = i+1

def my_list(n):
  i=0
  x = []
  while(i<n):
    i = i+1
    x.append(i)
  return x

for s in my_generator(5):
  print("Using Generator")
  print(s)

for k in my_list(5):
  print("Using normal list function")
  print(k)

Using Generator
0
Using Generator
1
Using Generator
2
Using Generator
3
Using Generator
4
Using normal list function
1
Using normal list function
2
Using normal list function
3
Using normal list function
4
Using normal list function
5

1. Even number till the given numbers
2. Create a generator for first N natural even number:

In [8]:
def even_number_generator(n):
  for i in range(1,n):
    if i%2 == 0:
      yield i

def even_number_till_n(n):
  for i in range(2,2*n):
    if i%2 == 0:
      yield i

input_number = 77
print(f"Even nubers till {input_number}")
for even_number in even_number_generator(input_number):
  print(even_number)

print(f"First n natural even nubers {input_number}")
for n in even_number_till_n(input_number):
  print(n)

Even nubers till 77
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
First n natural even nubers 77
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152

# Python over loading:

Adding more functionalities with same name but variable number aguments passed to it while